.app {
  /* width: 100vw; */
  margin: 0;
  padding: 0;
  background-color: #f3f2ef;
}

.app__body {
  display: flex;
  margin-top: 35px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 576px) {
  .app__body {
    flex-direction: column;
  }
}
