.login__container {
  display: grid;
  place-items: center;
  /* border: 1px solid black; */
}
.login {
  font-style: cursive;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  padding: 10px;
  margin-top: 70px;
  margin-bottom: 70px;
}
.login > span {
  font-size: 14px;
  margin-bottom: 1rem;
}
.login > img {
  object-fit: contain;
  height: 70px;
  margin-bottom: 40px 0;
}

.login > p {
  margin-top: 20px;
}
.login > .MuiButton-root {
  justify-content: space-around !important;
}
